<div class="container m-5 text-center logo">
  <h1>No Holla como estas</h1>
  <p>Haga parte de nuestra comunidad mundial</p>
</div>
<div class="container text-center">
  <%= image_tag 'logo.png', alt:'No hola logo', class: 'logo' %>
</div>
